In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key

from pprint import pprint

In [2]:
# Files to load
city_data = os.path.join("weather_data", "cities.csv")
city_data_df = pd.read_csv(city_data)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yar-Sale,RU,2022-01-24 03:58:42,66.8333,70.8333,4.01,94,39,13.24
1,1,Nemuro,JP,2022-01-24 03:58:42,43.3236,145.5750,27.03,64,91,8.55
2,2,Sisimiut,GL,2022-01-24 03:58:43,66.9395,-53.6735,16.56,68,100,22.19
3,3,Ushuaia,AR,2022-01-24 03:58:43,-54.8000,-68.3000,46.06,81,75,21.85
4,4,Mataura,NZ,2022-01-24 03:58:43,-46.1927,168.8643,70.27,35,7,6.76

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [6]:
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

In [7]:
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 75

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Ushuaia,AR,2022-01-24 03:58:43,-54.8000,-68.3000,46.06,81,75,21.85
4,4,Mataura,NZ,2022-01-24 03:58:43,-46.1927,168.8643,70.27,35,7,6.76
8,8,Bluff,NZ,2022-01-24 03:58:45,-46.6000,168.3333,56.07,62,33,7.61
10,10,East London,ZA,2022-01-24 03:58:46,-33.0153,27.9116,70.74,83,0,6.91
13,13,Punta Arenas,CL,2022-01-24 03:58:47,-53.1500,-70.9167,48.31,61,20,21.85
14,14,Cabo San Lucas,MX,2022-01-24 03:57:17,22.8909,-109.9124,69.51,74,100,5.01
15,15,Hualmay,PE,2022-01-24 03:58:48,-11.0964,-77.6139,70.90,87,19,8.16
18,18,Riyadh,SA,2022-01-24 03:56:08,24.6877,46.7219,48.34,31,0,6.35
29,29,Castro,BR,2022-01-24 03:58:54,-24.7911,-50.0119,64.99,94,70,2.46
31,31,Jackson,US,2022-01-24 03:58:54,42.4165,-122.8345,50.45,55,6,2.21

In [13]:
preferred_cities_df.notnull().sum()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3          Ushuaia      AR     46.06 -54.8000  -68.3000
4          Mataura      NZ     70.27 -46.1927  168.8643
8            Bluff      NZ     56.07 -46.6000  168.3333
10     East London      ZA     70.74 -33.0153   27.9116
13    Punta Arenas      CL     48.31 -53.1500  -70.9167
14  Cabo San Lucas      MX     69.51  22.8909 -109.9124
15         Hualmay      PE     70.90 -11.0964  -77.6139
18          Riyadh      SA     48.34  24.6877   46.7219
29          Castro      BR     64.99 -24.7911  -50.0119
31         Jackson      US     50.45  42.4165 -122.8345

In [18]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [19]:
len(hotels["results"])

20

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Ushuaia,AR,46.06,-54.8000,-68.3000,Albatross Hotel
4,Mataura,NZ,70.27,-46.1927,168.8643,Ellie's Villa
8,Bluff,NZ,56.07,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
10,East London,ZA,70.74,-33.0153,27.9116,Tu Casa
13,Punta Arenas,CL,48.31,-53.1500,-70.9167,Hotel Hain

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
#add info box template to markers
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))